.DS_Store
*~

# Build artifacts
Dockerfile-*
dist/
.cache/
.armdocs

.project
.settings/
version.json

*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

npm-debug.log
node_modules
vendor/**/*

.idea/

version.json
